.Footermain-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FooterWrapper1 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.footerNav-div ul {
  list-style: none;
  display: flex;
}

.FooterWrapper2 {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.footerNav2-div {
  display: flex;
}

.FooterWrapper2 p {
  color: gray;
}

.footerNavli-div {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Footermain-div {
    width: 100%;
    padding-bottom: 30px;
  }

  .FooterWrapper1 {
    width: 90%;
    padding-bottom: 30px;
  }
  .footerNav-div {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .footerNav-div ul {
    flex-direction: column;
    gap: 30px;
  }

  .FooterWrapper2 {
    width: 90%;
    height: 60px;
    font-size: 35px;
  }
  .footerNav2-div {
    gap: 30px;
    display: none;
  }

  .FooterWrapper2 p {
    font-size: 17px;
  }

  .footerNavli-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 26px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .Footermain-div {
    width: 100%;
    padding-bottom: 30px;
  }

  .FooterWrapper1 {
    width: 90%;
    padding-bottom: 30px;
  }

  .footerNav-div ul {
    flex-direction: row;

    gap: 80px;
  }

  .FooterWrapper2 {
    width: 90%;
    height: 60px;
    font-size: 35px;
  }
  .footerNav2-div {
    gap: 30px;
    display: flex;
  }

  .FooterWrapper2 p {
    font-size: 17px;
  }

  .footerNavli-div {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .Footermain-div {
    width: 100%;
    padding-bottom: 30px;
  }

  .FooterWrapper1 {
    width: 90%;
    padding-bottom: 30px;
  }

  .footerNav-div ul {
    gap: 80px;
  }

  .FooterWrapper2 {
    width: 90%;
    height: 60px;
    font-size: 35px;
  }
  .footerNav2-div {
    gap: 30px;
  }

  .FooterWrapper2 p {
    font-size: 17px;
  }

  .footerNavli-div {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .Footermain-div {
    width: 100%;
    padding-bottom: 30px;
  }

  .FooterWrapper1 {
    width: 90%;
    padding-bottom: 30px;
  }

  .footerNav-div ul {
    gap: 80px;
  }

  .FooterWrapper2 {
    width: 90%;
    height: 60px;
    font-size: 35px;
  }
  .footerNav2-div {
    gap: 30px;
  }

  .FooterWrapper2 p {
    font-size: 17px;
  }

  .footerNavli-div {
    display: none;
  }
}
